<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>

</head>
<body>

  <h2>DETAIL</h2>

<div class = "detail">
  <form data-th-action="@{update}" method="post">
  <div>
      <div>
          <span id="no" name="no"
                data-th-text="'No. ' + ${boardResponseDto.no}">1</span>
      </div>

      <div>
          <label for="title">Title.</label><br>
          <input type="text" id="title" name="title"
                 data-th-value="${boardResponseDto.title}">
      </div>

      <div>
          <label for="writer">Writer.</label><br>
          <input type="text" id="writer" name="writer"
                 data-th-value="${boardResponseDto.writer}" readonly>
      </div>

      <div>
          <label for="content">Content.</label><br>
          <textarea id="content" name="content"
                    rows="20" cols="25"
                    style="white-space: pre-line;"
                    data-th-text="${boardResponseDto.content}">내용</textarea>
      </div>

  </div>
      <div>
          <button type="submit">modify</button>
      </div>

      <div>
          <button type="button"
                  th:onclick="|location.href='@{delete(no=${boardResponseDto.no})}'|">delete</button>
      </div>
  </form>
</div>

<div class = "comment">
    <form data-th-action = "@{comment}" method = "post">
      <div>
        <label for = "comment"></label>
        <textarea id="comment" name="comment"
                  rows="5" cols="40"
                  placeholder="comment"></textarea>
      </div>

      <div>
        <button type = "submit">submit</button>
      </div>
    </form>
</div>
</body>
</html>